.red {
    background: #fd0100;
  }
  
  .yellow {
    background: #fde32f;
  }
  
  .green {
    background: #2b9349;
  }
  
  .purple {
    background: #c54de6;
  }
  
  .orange {
    background-color: #fa851d;
  }
  
  .blue {
    background: #57a1df;
  }
.detail {
    padding-left: 0;
    text-align: left;
    li {
      padding-left: 10px;
      list-style: none;
      position: relative;
  
      .value {
        position: absolute;
        top: 0px;
        right: 10px;
      }
    }
  
    .green {
      color: #fff;
    }
  
    .yellow,
    .red {
      color: #000;
    }
  }
  
 
