<nav class="navbar navbar-expand-lg custom-primary fixed-top">
    <a class="navbar-brand" href="javascript:;"><img src="assets/images/logo.gif"></a>
    <button class="navbar-toggler" type="button" ngbDropdown>
        <!-- <span class="navbar-toggler-icon"></span> -->
        <i class="fa fa-bars text-muted" aria-hidden="true" ngbDropdownToggle></i>
        <div class="dropdown-menu-left" ngbDropdownMenu>
            <a class="dropdown-item" [routerLink]="['/login']" (click)="onLoggedout()">
                <i class="fa fa-fw fa-power-off"></i> {{ 'Log Out'}}
            </a>
        </div>
    </button>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav custom-navbar header ml-auto align-items-center">
            <li style="margin-right:10px;" *ngIf="Admin">
                <select class="form-control" (change)="OrgChange(OrgId, organization_list)" [(ngModel)]="OrgId">
                    <option *ngFor="let item of organization_list" value="{{item.survey_id}}">{{item.survey_name}}</option>
                </select>
            </li>
            <li><a href="javascript:void(0)"><i class="fa fa-user"></i></a></li>
            <li><a href="javascript:void(0)" class="nav-link"><span class="bold_font mr-10">{{user_name}}</span></a></li>
            <li class="nav-item dropdown" ngbDropdown>
                <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                    <i class="fa fa-bars"></i>
                </a>
                <div class="dropdown-menu-right" ngbDropdownMenu>
                    <a class="dropdown-item" [routerLink]="['/login']" (click)="onLoggedout()">
                        <i class="fa fa-fw fa-power-off"></i> {{ 'Log Out'}}
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>